<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <html outputDirectory="/tmp/pop-storage-cc" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Pop HTTP Component PHPUnit Test">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <env name="AWS_KEY" value=""/>
    <env name="AWS_SECRET" value=""/>
    <env name="AWS_REGION" value="us-east-2"/>
    <env name="AWS_BUCKET" value="s3://TEST_BUCKET"/>
    <env name="AWS_VERSION" value="latest"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
